[Desktop Entry]
Type=Application
Name=Comic Chat: Reinked
Comment=Open a Comic Chat: Reinked conversation or locator
Exec=reinked %f
Icon=applications-internet
Terminal=false
Categories=Network;Chat;
MimeType=application/x-comicchat-conversation;application/x-comicchat-locator;
